<!DOCTYPE html>
<html>
<head>
  <title>Quick search lib answers searcher</title>
  <%= stylesheet_link_tag    "quick_search/lib_answers_searcher/application", media: "all" %>
  <%= javascript_include_tag "quick_search/lib_answers_searcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
